body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  text-align: center;
  font-size: 18px;

  > * {
    clear: both;
  }
}

#video {
}

#form {
  padding: 25px;

  > * {
    display: block;
    margin: 0 auto;
  }
}

.block {
  min-height: 100vh;
}